/* Global styles for the clock page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #ffffff; /* make text white */
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #949393, #101010);
    text-align: center;
    font-size: 0.7cm;
}